.App {
  width: 100%;
  min-height: 100vh;
  /* full viewport height */
  display: flex;
  flex-direction: column;
  /* stack navbar + content vertically */
  text-align: center;
}


.page-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.employee-card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.employee-card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.employee-card p {
  margin: 4px 0;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  position: relative;
  text-align: center;

}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.card-photo:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  cursor: pointer;
}

/* Modal images stay static */
.modal-photo {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: default; /* remove pointer */
  transform: none;
  transition: none; /* prevent hover transition */
}

.leaflet-container {
  border-radius: 10px;
  width: 50vw;   /* full viewport width */
  height: 80vh;  /* full viewport height */
}