
  .App {
  width: 100%;
  min-height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column; /* stack navbar + content vertically */
  text-align: center;
  }


  .page-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }

