.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-content {
  margin: 0 auto;
  padding: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.6rem;
  max-width: 25rem;
  width: 90%;
  position: relative;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.leaflet-container {
  border-radius: 0.6rem;
  width: 50vw;
  height: 80vh;
}
