.App {
  width: 100%;
  min-height: 100vh;
  /* full viewport height */
  display: flex;
  flex-direction: column;
  /* stack navbar + content vertically */
  text-align: center;
}


.page-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.employee-card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.employee-card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.employee-card p {
  margin: 4px 0;
}


